// Для импорта в диспетчер подключений: @import './src/blocks/promo/promo.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.promo {
  //.container();
  display: flex;
  flex-wrap: wrap;

  //
  //& > * {
  //  display: block;
  //  width: 100%;
  //}

  &__tabs {
    order: 1;
  }

  &__vacation-type {
    order: 2;
  }
}
