// Для импорта в диспетчер подключений: @import './src/blocks/offer/offer.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.offer {

  &__inner {
    .container(0);
  }

  &__title {
    margin: 50px 45px 33px;
    font: 26px @font-family--serif;
    color:  #000;
    text-align: center;

  }

  &__dots {
    display: flex;
    justify-content: center;
    margin: 10px 0 30px;
    padding: 0;
    list-style: none;
  }

  &__dot {
    display: block;
    margin: 10px;
    width: 15px;
    height: 15px;
    text-indent: -999px;
    border-radius: 50%;
    border: 2px solid @color-main--orange;

    &--active {
      background-color: @color-main--orange;
    }
  }
}
